body{
    margin: 0;
    height: 100vh;
    display: grid;
    place-items: center;
    background: rgb(255, 255, 255);
    overflow: hidden;
}

.cards {
    display: flex;
}
.card{
    background: white;
    border-radius: 1rem;
    padding: 1.5rem;
    box-shadow: 3px 3px 12px 1px rgba($color: #09031d, $alpha: 0.6);
    transition: 0.2s;
    &:not(:first-child){
        margin-left: -2rem;
    }
    &:not(:last-child):hover,
    &:not(:last-child):focus-within {
        transform: translateY(-1rem);
        ~ .card {
            transform: translateX(2rem);
        }
    }
}
// The :focus-within pseudo selector in CSS is a bit unusual, although well-named and rather intuitive. It selects an element if that element contains any children that have :focus.
