body{
    margin: 0;
    padding: 0;
    background: radial-gradient(lighten(#18171b, 25%), #18171b);
    overflow: hidden;
}
.joshua{
    // Declaring reusable variables
    $tire: 1000;
    $car-body: #ce4028;
    $border: #282a35;
    $border: #000;
    $tire-color: #333;
    $border-thickness: 4px;
    $dark: #000000;
    // $starman-body: -4;
    $seat: 1;
    $hand: 2;
    $car-front: -2;
    $car-rear: -1;
    $transparent: transparent;

    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;

        .car{
            position: relative;
            background: $car-body;

            // Styling for car-bumper-front
            // The & represents the .car class
            &-bumper-front{
                position: absolute;
                width: 180px;
                height: 65px;
                border-radius: 25px 70px 70px 100px;
                background-color: $car-body;
                top: -2px;
                left: -235px;
                border: 4px solid;
                border-color:$border;
                z-index: -3;
                overflow: hidden;
                box-shadow: inset -5px -10px 0
                rgba(51, 51, 51, 0.22), inset 5px 0 0 rgba(255, 255, 255, 0.17);
            }

            // For Car fix to remove the border that
            
            &-fix{
                position: absolute;
                content: "";
                width: 10px;
                height: 10px;
                background: $car-body;
                left: -231px;
                z-index: 99;
                top: 7px;
                box-shadow: inset 5px 0 0 rgba(255, 255, 255, 0.17);
            }

             &-fender{
                position: absolute;
                top: -2px;
                left: -100px;
                width: 260px;
                height: 65px;
                border-radius: 30px 20px 40px 20px;
                background: $car-body;
                border: 4px solid;
                border-color: $border;
                z-index: 900;
                overflow: hidden;
                box-shadow: inset 0 4px 0 rgba($color: #fff, $alpha: 0.17), inset -5px -4px 0 rgba($color: #333, $alpha: 0.2);

        }

                &-bumper-top{
                    width: 135px;
                    height: 23px;
                    position: absolute;
                    background-color: $car-body;
                    border: 4px solid;
                    border-radius: 50%;
                    top: -8px;
                    left: -235px;
                    display: block;
                    transform: rotate(2deg);
                    border-color: $border transparent transparent $border;
                    overflow: hidden;
                    z-index: 99;
                    box-shadow: inset 0 3px 0 rgba($color: #fff, $alpha: 0.17);

                    .front-light-bulb{
                        position: absolute;
                        width: 33px;
                        height: 10px;
                        background: rgba($color: #fff, $alpha: 0.5);
                        transform: rotate(-10deg);
                        border-radius: 50px 0;
                        left: -4px;
                        top: 1px;
                    }

                }

                &-rear-top {
                    position: absolute;
                    width: 113px;
                    height: 33px;
                    background: $car-body;
                    top: -25px;
                    left: 50px;
                    z-index: 999;
                    border-radius: 0px 70% 0px 0px;
                    transform: rotate(9.2deg);
                    border: 4px solid;
                    border-color: $border $border transparent transparent;
                    box-shadow: inset 0px 4px 0px rgba(#fff, 0.17);

                    .back-light {
                        position: absolute;
                        width: 23px;
                        height: 10px;
                        background: $border;
                        top: 27px;
                        left: 94px;
                        z-index: 0px;
                        border-radius: 0 0 0 50px;
                    }
                
                }

                &-tire {
                    .front,.rear {
                        width: 60px;
                        height: 60px;
                        background: $border;
                        position: absolute;
                        border-radius: 50%;
                        top: 22px;
                        z-index: $tire;
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        &:before {
                            position: absolute;
                            content: "";
                            width: 60px;
                            height: 60px;
                            border: 5px solid #333;
                            opacity: 0.2;
                            border-radius: 50%;
                        }
                    }
                    .front {
                        left: -190px;
                    }
                    .rear {
                        right: -130px;
                    }
                    .front,
                    .rear{
                        .details-1{
                            position: absolute;
                            width: 2px;
                            height: 60px;
                            background-color: $border; 

                            &:before {
                                position: absolute;
                                content: "";
                                width: 2px;
                                height: inherit;
                                background-color: $border;
                                transform: rotate(90deg);
                            }
                        }

                        .details-2 {
                            position: absolute;
                            width: 2px;
                            height: 60px;
                            background-color: $border;
                            transform: rotate(45deg);

                            &:before {
                            position: absolute;
                            content: "";
                            width: 2px;
                            height: inherit;
                            background-color: $border;
                            transform: rotate(90deg);
                        }
                        }

                        .details-3 {
                        position: absolute;
                        width: 40px;
                        height: 40px;
                        content: "";
                        background-color: lighten(#444, 40%);
                        opacity: 0.9;
                        border-radius: 50%;
                        z-index: -1;
                        }
                    }
                    
                }

                         // Dark Front light for the bumper
                        .front-light{
                            position: relative;
                            width: 10px;
                            height: 27px;
                            background: $dark;
                            top: 23px;
                            border-radius: 0px 20px 20px 0px;
                            transform: rotate(-25deg);
                            left: 4px;
                        }
                        .wind-shield {
                        position: absolute;
                            height: 71px;
                            width: 11px;
                            background: $dark;
                            transform: rotate(46deg);
                            border-radius: 5px 23px 2px 2px;
                            top: -57px;
                            left: -78px;
                            z-index: 1000;
                        }

                        .side-mirror {
                            position: absolute;
                            width: 22px;
                            height: 15px;
                            border: 4px solid #000;
                            border-radius: 50%;
                            left: -102px;
                            top: -8px;
                            z-index: 1000;
                            background: $car-body;
                        }

                        .space-man {
                            .back-seat {
                                width: 9px;
                                height: 40px;
                                background:
                                #000;
                                position: absolute;
                                left: 46px;
                                top: -38px;
                                transform: rotate(11deg);
                                border-radius: 5px 5px 4px 0;
                                z-index: 1000;
                            }

                            .face{
                                position: absolute;
                                width: 40px;
                                height: 40px;
                                border-radius: 50%;
                                background: #f2f2f2;
                                top: 60px;
                                left: -18px;
                                border: 3px solid $border;
                                overflow: hidden;
                                box-shadow: inset -4px -4px 0 rgba(#333, 0.2);

                                &:before {
                                   position: absolute;
                                   content: "";
                                   width: 17px;
                                   height: 17px;
                                   border-radius: 3px;
                                   background: #f7ac76;
                                   transform: rotate(-45deg);
                                   left: -7px;
                                   top: 7px;
                                   border: 2px solid $border;
                                   box-shadow: inset -5px 5px 3 0 rgba(#fff, 0.4);
                                }
                            }
                        }
        }  
    } // End of container
}























// $border: #041d4d;

// .face{
//     position: absolute;
//     width: 40px;
//     height: 40px;
//     border-radius: 50%;
//     background: #f2f2f2;
//     top: 60px;
//     left: 60px;
//     border: 3px solid $border;
//     overflow: hidden;
//     box-shadow: inset -4px -4px 0 rgba(#333, 0.2);
//     display: none;

//     &:before {
//        position: absolute;
//        content: "";
//        width: 17px;
//        height: 17px;
//        border-radius: 3px;
//        background: #f7ac76;
//        transform: rotate(-45deg);
//        left: -7px;
//        top: 7px;
//        border: 2px solid $border;
//        box-shadow: inset -5px 5px 3 0 rgba(#fff, 0.4);
//     }
// }

// .bumper-top{
//     width: 124px;
//     height: 23px;
//     // position: absolute;
//     position: relative;
//     background-color: saddlebrown;
//     border: 4px solid;
//     border-radius: 50%;
//     // top: -8px;
//     // left: -235px;
//     display: none;
//     transform: rotate(1deg);
//     border-color: $border transparent transparent $border;
//     overflow: hidden;
//     z-index: 99;
//     box-shadow: inset 0 3px 0 rgba($color: #fff, $alpha: 0.17);

//     .front-light-bulb{
//         position: absolute;
//         width: 33px;
//         height: 10px;
//         background: rgba($color: #fff, $alpha: 0.5);
//         transform: rotate(-10deg);
//         border-radius: 50px 0;
//         left: -4px;
//         top: 1px;

//     }
// }
// .rear-top{
//     position: absolute;
//     width: 200px;
//     height: 50px;
//     border: 4px solid;
//     border-radius: 0 70% 0 0;
//     overflow: hidden;
//     transform: rotate(10deg);
//     display: none;

//     .backlight{
//         position: absolute;
//         width: 50px;
//         height: 15px;
//         border: 3px solid;
//         border-radius: 0px 0 0 50px;
//         bottom: -4px;
//         right: -10px;
//         background: tomato;
//     }
// }

// .fender{
//     position: relative;
//     // top: -2px;
//     // left: -100px;
//     width: 260px;
//     height: 65px;
//     border-radius: 30px 20px 40px 20px;
//     background: #ce4028;
//     border: 4px solid;
//     border-color: $border;
//     z-index: 900;
//     overflow: hidden;
//     box-shadow: inset 0 4px 0 rgba($color: #fff, $alpha: 0.17), inset -5px -4px 0 rgba($color: #333, $alpha: 0.2);

// }