body{
    margin: 0;
    padding: 0;
    background: radial-gradient(lighten(#18171b, 25%), #18171b);
    overflow: hidden;
}
.joshua{
    // Declaring reusable variables
    $tire: 99;
    $car-body: #ce4038;
    $border: #282a35;
    $tire-color: #333;
    $border-thickness: 4px;
    // $starman-body: -4;
    $seat: 1;
    $hand: 2;
    $car-front: -2;
    $car-rear: -1;

    .container{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;

        .car{
            position: relative;
            background: $car-body;

            // Styling for car-bumper-front
            // The & represents the .car class
            &-bumper-front{
                position: absolute;
                width: 180px;
                height: 65px;
                border-radius: 25px 70px 70px 100px;
                background-color:#ce4038;
                top: -2px;
                left: -235px;
                border: 4px solid;
                border-color:#282a35;
                z-index: -3;
                overflow: hidden;
                box-shadow: inset -5px -10px 0
                rgba(51, 51, 51, 0.22), inset 5px 0 0 rgba(255, 255, 255, 0.17);
            }

            // For Car fix to remove the border that
            
            &-fix{
                width: 10px;
                height: 10px;
                background: #fff;
            }

        }

        .car-bumper-top{
            width: 135px;
            height: 23px;
            position: absolute;
            background-color: $car-body;
            border: 4px solid;
            border-radius: 50%;
            top: -8px;
            left: -235px;
            display: block;
            transform: rotate(2deg);
            border-color: $border transparent transparent $border;
            overflow: hidden;
            z-index: 99;
            box-shadow: inset 0 3px 0 rgba($color: #fff, $alpha: 0.17);

            .front-light-bulb{
                position: absolute;
                width: 33px;
                height: 10px;
                background: rgba($color: #fff, $alpha: 0.5);
                transform: rotate(-10deg);
                border-radius: 50px 0;
                left: -4px;
                top: 1px;
            }

        }

        

        
    }
}























// $border: #041d4d;

// .face{
//     position: absolute;
//     width: 40px;
//     height: 40px;
//     border-radius: 50%;
//     background: #f2f2f2;
//     top: 60px;
//     left: 60px;
//     border: 3px solid $border;
//     overflow: hidden;
//     box-shadow: inset -4px -4px 0 rgba(#333, 0.2);
//     display: none;

//     &:before {
//        position: absolute;
//        content: "";
//        width: 17px;
//        height: 17px;
//        border-radius: 3px;
//        background: #f7ac76;
//        transform: rotate(-45deg);
//        left: -7px;
//        top: 7px;
//        border: 2px solid $border;
//        box-shadow: inset -5px 5px 3 0 rgba(#fff, 0.4);
//     }
// }

// .bumper-top{
//     width: 124px;
//     height: 23px;
//     // position: absolute;
//     position: relative;
//     background-color: saddlebrown;
//     border: 4px solid;
//     border-radius: 50%;
//     // top: -8px;
//     // left: -235px;
//     display: none;
//     transform: rotate(1deg);
//     border-color: $border transparent transparent $border;
//     overflow: hidden;
//     z-index: 99;
//     box-shadow: inset 0 3px 0 rgba($color: #fff, $alpha: 0.17);

//     .front-light-bulb{
//         position: absolute;
//         width: 33px;
//         height: 10px;
//         background: rgba($color: #fff, $alpha: 0.5);
//         transform: rotate(-10deg);
//         border-radius: 50px 0;
//         left: -4px;
//         top: 1px;

//     }
// }
// .rear-top{
//     position: absolute;
//     width: 200px;
//     height: 50px;
//     border: 4px solid;
//     border-radius: 0 70% 0 0;
//     overflow: hidden;
//     transform: rotate(10deg);
//     display: none;

//     .backlight{
//         position: absolute;
//         width: 50px;
//         height: 15px;
//         border: 3px solid;
//         border-radius: 0px 0 0 50px;
//         bottom: -4px;
//         right: -10px;
//         background: tomato;
//     }
// }

// .fender{
//     position: relative;
//     // top: -2px;
//     // left: -100px;
//     width: 260px;
//     height: 65px;
//     border-radius: 30px 20px 40px 20px;
//     background: #ce4028;
//     border: 4px solid;
//     border-color: $border;
//     z-index: 900;
//     overflow: hidden;
//     box-shadow: inset 0 4px 0 rgba($color: #fff, $alpha: 0.17), inset -5px -4px 0 rgba($color: #333, $alpha: 0.2);

// }